body{
    padding: 35%;
    top: 50px;
    background-color: white;
   
}
.container{
    background-color: rgba(124, 192, 225, 0.793);
    width: 350px;
    height: 200px;
    text-align: center;
}
h1{
    text-align: center;
   
    color: #201976;
}